.container {
  padding: 20px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 20px;
  color: #444;
}

.link {
  color: blue;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}
